/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}

body {
    -webkit-display: flex;
    -webkit-flex-direction: column;
    -webkit-min-height: 100vh;
    flex-direction: column;
    display: flex;
    min-height: 100vh;
}

main {
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
}

.fix-size{
    overflow: auto;
}

nav .nav-wrapper form, nav .nav-wrapper form .input-field{
    height: 100%;
}

.spinnerHidden{
 display: none;
}

.spinnerVisible{
    display: flex;
}
